 /*Little larger screen*/
/* smartphones, iPhone, portrait 480x320 phones */
@media only screen and (min-width: 240px) and (max-width: 479px) {
	.home-1-img img {
		width: 130px;
		height: 130px;
	}
	#logo, #menu {
		text-align: center;
	}
	#logo img {
		width: 80px;
		height: 80px;
	}
	#menu ul a li {
		padding: 2px 13px;
		margin-top: 10px;
		font-size: 13px;
	}
	.home-1-div:nth-child(1){
		margin-top: 0px;
	}
	.home-1-div{
		margin-top: 20px;
	}
	.home-1-text {
		font-size: 14px;
	}
	.home-2 {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	h1{
		font-size: 28px;
	}
	h6{
		font-size: 15px;
	}
	.home-3-img img {
		height: 130px;
		width: 130px;
	}
	.home-3 {
		margin-top: 30px;
	}
	#home-3-image-1 .home-3-img {
		margin-left: 0px;
	}
	#home-3-image-2 .home-3-img{
		margin-left: 0px;
	}
	#home-3-image-3 .home-3-img {
		margin-left: 0px;
	}
	#home-3-image-4 .home-3-img {
		margin-left: 0px;
	}
	#home-3-image-5 .home-3-img{
		margin-left: 0px;
	}
	#home-3-content-2 h2{
		text-align: left;
	}
	#home-3-content-4{
		margin-top: -7px;
		padding-left: 22px;
		padding-right: 0px;
	}
	#home-3-content-4 h2{
		text-align: left;
	}
	.home-3 .right {
		margin-top: -7px;
		padding-right: 15px;
	}
	.home-3-div h2 {
		font-size: 21px;
	}
	.home-3-content {
		font-size: 13px;
		padding-right: 30px;
		text-align: justify;
	}
	.home-3-div:nth-child(4){
		margin-bottom: 0px;
	}
	.home-3-div:nth-child(5){
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.home-3-div:nth-child(6){
		margin-top: 0px;
		margin-bottom: 0px;
	}
	#home-3-content-2 {
		 margin-top: 0px; 
		padding-left: 22px;
		padding-right: 0px;
	}
	#home-3-image-5 .home-3-img img {
		height: 125px;
		width: 125px;
	}
	#home-3-content-5{
		margin-top: -7px;
	}
	.footer-logo {
		margin-top: 35px;
		margin-bottom: 35px;
	}
	.footer-logo img {
		height: 80px;
		width: 80px;
	}
	.footer-bar ul li {
		display: inline-block;
		border-right: 1px solid #fff;
		padding: 3px 12px;
	}
	.footer-bar ul li:nth-child(2) {
		border-right:none;
	}
	.portfolio-heading{
		margin-top: 35px;
	}
	.portfolio-img {
		text-align: center;
		padding-bottom: 25px;
	}
	.partner-heading{
		margin-top: 35px;
	}
	.partnerwithus ul li {
		margin-top: 20px;
	}
	.partner-2 {
		margin-top: 59px;
		margin-bottom: 80px;
		font-size: 17px;
		background-size: 56px;
		padding-left: 77px;
		padding-top: 0px;
	}
	.partner-3 {;
		font-family: 'font_2';
	}
	.partner-3 p{
		font-size: 15px;
	}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
		.home-1-img img {
		width: 130px;
		height: 130px;
	}
	#logo, #menu {
		text-align: center;
	}
	#logo img {
		width: 80px;
		height: 80px;
	}
	#menu ul a li {
		padding: 2px 13px;
		margin-top: 10px;
		font-size: 13px;
	}
	.home-1-div:nth-child(1){
		margin-top: 0px;
	}
	.home-1-div{
		margin-top: 20px;
	}
	.home-1-text {
		font-size: 14px;
	}
	.home-2 {
		margin-top: 25px;
		margin-bottom: 25px;
	}
	h1{
		font-size: 28px;
	}
	h6{
		font-size: 15px;
	}
	.home-3-img img {
		height: 130px;
		width: 130px;
	}
	#home-3-image-5 .home-3-img img {
		height: 124px;
		width: 124px;
	}
	.home-3 {
		margin-top: 30px;
	}
	#home-3-image-1 .home-3-img {
		margin-left: 0px;
	}
	#home-3-image-2 .home-3-img{
		margin-left: 0px;
	}
	#home-3-image-3 .home-3-img {
		margin-left: 0px;
	}
	#home-3-image-4 .home-3-img {
		margin-left: 0px;
	}
	#home-3-image-5 .home-3-img{
		margin-left: 0px;
	}
	#home-3-content-2 h2{
		text-align: left;
	}
	#home-3-content-4{
		margin-top: -7px;
		padding-left: 22px;
		padding-right: 0px;
	}
	#home-3-content-4 h2{
		text-align: left;
	}
	.home-3 .right {
		margin-top: -7px;
		padding-right: 15px;
	}
	.home-3-div h2 {
		font-size: 21px;
	}
	.home-3-content {
		font-size: 13px;
		padding-right: 30px;
		text-align: justify;
	}
	.home-3-div:nth-child(4){
		margin-bottom: 0px;
	}
	.home-3-div:nth-child(5){
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.home-3-div:nth-child(6){
		margin-top: 0px;
		margin-bottom: 0px;
	}
	#home-3-content-2 {
		 margin-top: 0px; 
		padding-left: 22px;
		padding-right: 0px;
	}
	
	#home-3-content-5{
		margin-top: -7px;
	}
	.footer-logo {
		margin-top: 35px;
		margin-bottom: 35px;
	}
	.footer-logo img {
		height: 80px;
		width: 80px;
	}
	.footer-bar ul li {
		display: inline-block;
		border-right: 1px solid #fff;
		padding: 3px 12px;
	}
	.footer-bar ul li:nth-child(2) {
		border-right:none;
	}
	.portfolio-heading{
		margin-top: 35px;
	}
	.partner-heading{
		margin-top: 35px;
	}
	.portfolio-img {
		text-align: center;
		padding-bottom: 25px;
	}
	.partnerwithus ul li {
		margin-top: 20px;
	}
	.partner-2 {
		margin-top: 59px;
		margin-bottom: 80px;
		font-size: 17px;
		background-size: 56px;
		padding-left: 77px;
		padding-top: 0px;
	}
	.partner-3 {;
		font-family: 'font_2';
	}
	.partner-3 p{
		font-size: 15px;
	}
}


/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.home-1-img img {
		width: 142px;
		height: 142px;
	}
	#logo img {
		width: 80px;
		height: 80px;
	}
	#menu ul a li {
		margin-top: 28px;
	}
	.home-1 {
		margin-top: 70px;
	}
	.home-2 {
		margin-top: 40px;
	}
	h1 {
		font-size: 34px;
	}
	h6{
		font-size: 18px;
	}
	.home-1-text {
		font-size: 14px;
	}
	.home-3-img img {
		height: 140px;
		width: 140px;
	}
	.home-3 {
		margin-top: 30px;
	}
	#home-3-image-1 .home-3-img {
		margin-left: -26px;
	}
	#home-3-image-2 .home-3-img{
		margin-left: -26px;
	}
	#home-3-image-3 .home-3-img {
		margin-left: -26px;
	}
	#home-3-image-4 .home-3-img {
		margin-left: -26px;
	}
	#home-3-image-5 .home-3-img{
		margin-left: -24px;
	}
	#home-3-content-4{
		margin-top: -35px;
	}
	.home-3 .right {
		margin-top: -11px;
		margin-left: 35px;
	}
	.home-3-div h2 {
		font-size: 21px;
	}
	.home-3-content {
		font-size: 13px;
	}
	.home-3-div:nth-child(4){
		margin-bottom: 0px;
	}
	.home-3-div:nth-child(5){
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.home-3-div:nth-child(6){
		margin-top: 0px;
		margin-bottom: 0px;
	}
	#home-3-content-2 {
		margin-top: -22px;
		padding-left: 0px;
	}
	#home-3-image-5 .home-3-img img {
		height: 135px;
		width: 135px;
	}
	#home-3-content-5{
		margin-top: 14px;
	}
	.footer-logo {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.footer-bar ul li:nth-child(2) {
		border-right:none;
	}
}

@media only screen and (min-width: 958px) and (max-width: 1024px) {
	.home-1 {
		margin-top: 80px;
	}
	.home-1-img img {
		width: 160px;
		height: 160px;
	}
	.home-1-text {
		font-size: 15px;
	}
	h1{
		font-size: 40px;
	}
	h6{
		font-size: 20px;
	}
	.home-3 {
		margin-top: 30px;
	}
	#home-3-image-1 .home-3-img {
		margin-left: -13px;
	}
	#home-3-image-2 .home-3-img{
		margin-left: -13px;
	}
	#home-3-image-3 .home-3-img {
		margin-left: -13px;
	}
	#home-3-image-4 .home-3-img {
		margin-left: -13px;
	}
	#home-3-image-5 .home-3-img{
		margin-left: -11px;
	}
	#home-3-content-4{
		margin-top: -35px;
	}
	.home-3-img img {
		height: 150px;
		width: 150px;
	}
	#home-3-image-5 .home-3-img img {
		height: 142px;
		width: 142px;
	}
	.home-3 .right {
		margin-top: 0px;
	}
	.home-3-div h2 {
		font-size: 26px;
	}
	.home-3-content {
		font-size: 14px;
	}
	#home-3-content-2 {
		margin-top: -15px;
	}
	.home-3-div:nth-child(4){
		margin-bottom: 10px;
	}
	.home-3-div:nth-child(5){
		margin-top: 0px;
		margin-bottom: 0px;
	}
	#home-3-content-5{
		margin-top: 14px;
	}
	.footer-logo {
		margin-top: 50px;
		margin-bottom: 50px;
	}
	.partnerwithus ul {
		margin-left: 138px;
	}
	.partner-2 {
		font-size: 19px;
		padding-top: 18px;
	}
}